<!DOCTYPE html>
<html>

<head>
    <title>Smart Menu</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<!-- Navbar -->
<div class="navbar">
    <div class="nav-left">
        <img src="{{ url_for('static', filename='images/logo.jpg') }}" class="logo">
        <span class="title">Smart Menu</span>
    </div>
</div>

<!-- Floating Food Images -->
<img src="{{ url_for('static', filename='statics/images/food1.png') }}" class="food food1">
<img src="{{ url_for('static', filename='statics/images/food2.png') }}" class="food food2">

<!-- Main -->
<div class="container">

    <h1 class="heading">🍽 Smart Menu Dashboard</h1>

    <div class="card-container">

        <a href="/add_menu" class="card green">
            <h2>➕ Add Dish</h2>
            <p>Add new food items</p>
        </a>

        <a href="/view_menu" class="card blue">
            <h2>📋 View Menu</h2>
            <p>View all dishes</p>
        </a>

        <a href="/optimize" class="card orange">
            <h2>⚡ Optimize</h2>
            <p>Smart cost planning</p>
        </a>

    </div>

</div>

</body>
</html>