<!DOCTYPE html>
<html>
<head>
<title>Smart Menu</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>

<body>

<!-- NAVBAR -->
<div class="navbar">
    <div class="nav-left">
        <img src="{{ url_for('static', filename='images/logo.jpg') }}" class="logo">
        <h2>Smart Menu</h2>
    </div>
</div>

<!-- MAIN -->
<div class="container">

<h1 class="title">🍽 Smart Menu Dashboard</h1>

<!-- FOOD SECTION -->
<div class="food-gallery">
    <img src="{{ url_for('static', filename='images/food1.png') }}" class="food">
    <img src="{{ url_for('static', filename='images/food2.png') }}" class="food">
</div>

<!-- BUTTON CARDS -->
<div class="cards">

    <a href="/add_items" class="card">
        <h2>➕ Add Dish</h2>
        <p>Add new food items</p>
    </a>

    <a href="/view_menu" class="card">
        <h2>📋 View Menu</h2>
        <p>See all dishes</p>
    </a>

    

</div>

</div>

</body>
</html>